@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* navbar styles starts */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 37px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
span {
    color: #FF42A5;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.nav-logo img {
    width: 86px;
}
.logo-name {
    font-size: 45px;
    font-weight: 700;
}
nav ul {
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 32px;
    font-size: 18px;
    
}
nav li a:hover {
    color: #FF42A5;
}
nav li a {
    text-decoration: none;
    color: #3C354F;
}
.menu-icon {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px;
}
.fa-youtube {
    color: red;
    width: 33px;
    height: 24px;
    margin: 0 16px 0 24px;
}
.fa-tiktok {
    width: 24px;
    height: 24px;
}

/* banner section styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}
.banner-pic img {
    width: 710px;
    
}
.title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.text-gradient {
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 17px 0;  
}
.fa-circle-play, .fa-download {
margin-right: 8px;
}
.fa-solid {
    color: #FF42A5;
}
.btn {
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.btn:hover {
    cursor: pointer;
}
.btn1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.btn2 {
    background: #4EC5F7;
}
/* gamer section styles */

.gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px 0 170px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-content {
    text-align: right;
}
.gamer-title {
    font-size: 48px;
}
.des {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}
.purpose {
    margin-top: 24px;
    font-size: 20px;
    color: #534C64;
}
.unleash {
    color: #534C64;
    font-size: 24px;
}

/* online games section style */
.online-games {
    text-align: center;
    margin-top: 80px;
}
.video-container {
    padding: 0 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;
}
.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-hover {
    position: relative;
    display: inline-block;
  }
  
  .effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FF42A5;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer; 
    transition: opacity 0.3s ease;
  }
  .effect i {
    font-size: 48px;
    color: white;
  }
  .video-hover:hover {
    border: 5px solid #FF42A5;
    border-radius: 16px;
  }
  .video-hover:hover .effect {
    opacity: 1;
  }


/* noinstall section style  */

.noinstall-container, .playgames-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    background: #FFF;
    margin-bottom: 200px;
}
.noinstall-image > img {
    width: 634px;
}
.noinstall-content {
    text-align: right;
}
.noinstall-image {
    position: relative;
}
.noinstall-image .mini-img {
    position: absolute;
    top: 70%;
    right: 75%;

}


/* games menu section style  */
.games-btn {
    border-radius: 50px;
    background: #FFF;
    border: 1px solid transparent;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.games-btn:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
}
.games-btn img {
    width: 60px;
    height: 60px;
}
.games-container {
    padding: 0 240px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


/* footer design style */

footer {
    background: #0B0223;
    color: white;
    margin-top: 80px;
    padding: 100px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav {
    margin: 60px 0;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}
.footer-nav li {
    list-style: none;
   
}
.footer-nav li a {
    text-decoration: none;
    color: white;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    font-size: 30px;
    margin-bottom: 60px;
}
.policy-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.policy-container li {
    list-style: none;
}
.policy-container li a {
    text-decoration: none;
    color: white;
}
footer p{
    text-align: center;
    margin-top: 50px;
}


/* responsive for mobile-l size display */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        padding: 5px;
        gap: 15px;  
    }
    nav ul {
        flex-direction: column;
        gap: 15px;
        
    }
    nav li {
        margin-right: 0;
    }
    /* banner section presponsive */
    .banner-container {
        flex-direction: column-reverse;
        gap: 25px;
        padding: 5px;
        margin-top: 50px;
    
    }
    .banner-pic img {
        width: 300px;
    }
    .banner-content h2 {
        font-size: 40px;
        
    }
    .banner-content h1 {
        font-size: 80px;
    }

    /* gamer section responsive */
    

    .gamer-container {
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }
   
    .gamer-content {
    text-align: center;
    }
    .gamer-pic img {
        width: 320px;
    }

    /* online games section responsive */

    .online-games{
        padding: 5px;
    }

    .video-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        
    }

    


    /* noinstall section responsive */


    .noinstall-container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-bottom: 80px;
    }
    .noinstall-image > img {
        width: 320px;
    }
    .noinstall-image .mini-img > img{
        width: 120px;
    }
    .noinstall-content {
        text-align: center;
    }


    /* games menu section responsive  */

    .games-container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .games-btn img {
        width: 48px;
        height: 48X;
    }
    .games-btn {
        font-size: 14px;
        padding: 3px;
    }

    /* footer section responsive */

    .footer-nav ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .icon-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .policy-container ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}



/* responsive for Tablet */

@media  screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }
    .banner-container {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 25px;
        padding: 5px;
    }
    .banner-pic img {
        width: 520px;
    }

    /* gamer section responsive */
    .gamer-container {
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }
    .gamer-content {
    text-align: center;
    }
    .gamer-pic img {
        width: 520px;
    }

    /* online games section responsive */
    .video-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    

    /* noinstall section responsive  */
    .noinstall-container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-left: 30px;
        margin-bottom: 80px;
    }
    .noinstall-image > img {
        width: 500px;
    }
    .noinstall-image .mini-img > img{
        width: 180px;
    }
    .noinstall-content {
        text-align: center;
    }


    /* games menu section responsive  */

    .games-container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }



    /* footer section responsive */


    .footer-nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .icon-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .policy-container ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}



/* for laptop responsive */
@media screen and (min-width:960px) and (max-width:1400px) {
    nav {
        
        padding: 20px;
        gap: 15px;
    }
    .banner-container {
        flex-direction: column-reverse;
        padding: 10px;
        gap: 25px;
    }
    .banner-pic img {
        width: 710px;
    }

    /* gamer section responsive */

    .gamer-container {
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }
    .gamer-content {
    text-align: center;
    }
    .gamer-pic img {
        width: 868px;
    }

    /* online games section responsive */
    .video-container {
        display: grid;
        grid-template-columns: repeat(2, 1f);
        
        
    }

    /* noinstall section responsive  */
    .noinstall-container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        margin-left: 30px;
        margin-bottom: 150px;
    }
    .noinstall-image > img {
        width: 700px;
    }
    .noinstall-image .mini-img > img{
        width: 300px;
    }
    .noinstall-content {
        text-align: center;
    }

    /* games menu section responsive  */

    .games-container {
        padding: 10px;
    }
}